@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

.showContent {
  display: flex;
}

.showUseDesktop {
  display: none;
}

@media (max-width: 875px) {
  .showContent {
    display: none;
  }
  .showUseDesktop {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
